<p id="notice"><%= notice %></p>

<p>
<div class="thumbnail"><%= image_tag(@product.image_url) %></div>
</p>
<p>
  <strong>Address:</strong>
  <%=@product.address%>
</p>
<p>
  <strong>Store Name:</strong>
  <%= @product.store.name %>
</p>

<p>
  <strong>Current Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
